#page {
}

.hero {
    width: 1200px;
    height: 300px;
    margin: 1% auto;
    padding: 0px;
    position: relative;
}

#hero-image {
    display: inline;
    width: 400px;
    height: 300px;
    position: absolute;
    padding: 0px;
    /*border: 1px solid black;*/
}

.user-activity {
    position: relative;
    display: inline-block;
    margin: 0px;
    left: 560px;
    /*border: 1px solid black;*/
    /*float: right;*/
}

    .user-activity a {
        text-decoration: none;
        padding: 20px;
        font-family: 'Source Sans Pro', sans-serif;
    }

#right-nav {
    float: right;
}

#left-nav {
    float: left;
}

.nav-links {
    position: relative;
    display: inline-block;
    top: 230px;
    width: 399px;
    text-align: center;
}

    .nav-links a {
        padding: 25px;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Source Sans Pro', sans-serif;
    }

        .nav-links a:hover {
        }

.store-image img {
    margin-top: 7%;
    display: block;
}

section {
    /*padding: 0 30px;*/
}

    section.info {
        margin: 7% auto;
        font-family: 'Source Sans Pro', sans-serif;
    }

        section.info aside {
            width: 31%;
            float: left;
            text-align: center;
            margin-left: 2%;
        }

.info-img {
    border-radius: 100px;
    float: left;
    padding: 0px;
    margin: 0px;
}

.info-text {
    font-size: 14px;
    margin-left: 150px;
}

section.store {
    width: 100%;
    display: inline-block;
    margin-top: 7%;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
}

    section.store img {
        float: left;
        margin-right: 20px;
        padding: 0px;
    }

.parallax {
    margin: 3% auto;
    background-image: url("http://via.placeholder.com/1200x300");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}