<div id="page" style="width:1200px;margin:auto;">
    <header>
        <div class="hero">
            <nav id="left-nav" class="nav-links">
                <a href="#">Home</a>
                <a href="#">About</a>
            </nav>
            <div id="hero-image">
                <a class="hero-img" title="Coffee & Cupcakes" href="#"><img src="~/images/cclogo.jpg" style="width:400px;height:300px;" alt="Coffee & Cupcakes Logo" /></a>
            </div>
            <nav class="user-activity">
                <a href="#"><img src="~/images/fb.png" alt="Facebook" /></a>
                <a href="#"><img src="~/images/pin.png" alt="Pinterest" /></a>
                <a href="#"><img src="~/images/twt.png" alt="Twitter" /></a>
            </nav>
            <nav id="right-nav" class="nav-links">
                <a href="#">Menu</a>
                <a href="#">Contact</a>
            </nav>
        </div>
    </header>

    @*"http://via.placeholder.com/150x150"*@

    <section class="info">
        <aside>
            <img src="~/images/locales.jpg" class="info-img" style="width:175px;height:175px;" alt="Coffee & Cupcakes Logo" />
            <div class="info-text">
                <h3>Our Locations</h3>
                <p>Misty Mountains (999).999.9999</p>
                <p>Gondor (999).999.9999</p>
                <p>Mirkwood (999).999.9999</p>
            </div>
        </aside>
        <aside>
            <img src="~/images/hours.jpg" class="info-img" style="width:175px;height:175px;" alt="Coffee & Cupcakes Logo" />
            <div class="info-text">
                <h3>Hours</h3>
                <p>Mon to Fri 5am-9pm</p>
                <p>Weekends 8am-9pm</p>
            </div>
        </aside>
        <aside>
            <img src="~/images/st_capp.jpg" class="info-img" style="width:175px;height:175px;" alt="Coffee & Cupcakes Logo" />
            <div class="info-text">
                <h3>Monthly Special</h3>
                <p>Sweet Treat Cappucino</p>
                <p><b>Price:</b> $3.75</p>
            </div>
        </aside>
    </section>

    <section class="store">
        <img src="~/images/welcome.jpg" style="width:600px;height:300px;" alt="Store Atmosphere" />
        <div class="welcome">
            <h2>Come Visit Us!</h2>
            <p>We offer a warm, friendly atmosphere served up with great coffee!<br /><br />Bring your friends or yourself and a good book and enjoy our delicious cupcakes and premium espresso.</p>
        </div>
    </section>

    <section class="parallax"></section>

    <footer>
        <div class="details">
            <div style="margin-top:20px;display:inline-block;">
                <ul>
                    <b>Locations</b>
                    <li><a href="#">Misty Mountains</a></li>
                    <li><a href="#">Gondor</a></li>
                    <li><a href="#">Mirkwood</a></li>
                </ul>
            </div>
            <div style="margin-top:20px;display:inline-block;">
                <ul>
                    <b>About</b>
                    <li><a href="#">Our Coffee</a></li>
                    <li><a href="#">Our Cupcakes</a></li>
                    <li><a href="#">Work with Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            &#9400 2017 Coffee and Cupcakes. Website by J.Abbadusky.
        </div>
    </footer>
</div>
