<div id="page" style="width:1200px;margin:auto;">
    <header>
        <div class="hero">
            <nav id="left-nav" class="nav-links">
                <a href="#">Home</a>
                <a href="#">About</a>
            </nav>
            <div id="hero-image">
                <a class="hero-img" title="Coffee & Cupcakes" href="#"><img src="http://via.placeholder.com/400x300" alt="Coffee & Cupcakes Logo" /></a>
            </div>
            @*<nav class="user-activity">
                    <a href="#">Account</a>
                    <a href="#"><i class="fa fa-cart-arrow-down"></i> Cart</a>
                </nav>*@
            <nav id="right-nav" class="nav-links">
                <a href="#">Menu</a>
                <a href="#">Contact</a>
            </nav>
        </div>
    </header>

    <section class="info">
        <aside>
            <img src="http://via.placeholder.com/150x150" class="info-img" alt="Coffee & Cupcakes Logo"/>
            <div class="info-text">
                <h3>Our Locations</h3>
                <p>Misty Mountains (999).999.9999</p>
                <p>Gondor (999).999.9999</p>
                <p>Mirkwood (999).999.9999</p>
            </div>
        </aside>
        <aside>
            <img src="http://via.placeholder.com/150x150" class="info-img" alt="Coffee & Cupcakes Logo"/>
            <div class="info-text">
                <h3>Hours</h3>
                <p>Mon to Fri 5am-9pm</p>
                <p>Weekends 8am-9pm</p>
            </div>
        </aside>
        <aside>
            <img src="http://via.placeholder.com/150x150" class="info-img" alt="Coffee & Cupcakes Logo"/>
            <div class="info-text">
                <h3>Monthly Special</h3>
                <p>Sweet Treat Cappucino</p>
                <p><b>Price:</b> $3.75</p>
            </div>
        </aside> 
    </section>

    <section class="store">
        <img src="http://via.placeholder.com/600x300" alt="Store Atmosphere"/>
        <div class="welcome">
            <h2>Come Visit Us!</h2>
            <p>We offer a warm, friendly atmosphere served up with great coffee!<br /><br />Bring your friends or yourself and a good book and enjoy our delicious cupcakes and premium espresso.</p>
        </div>
    </section>

    <section class="parallax"></section>

    <footer>
        <div>
            <b>About</b>

        </div>
        <div>

        </div>
    </footer>
</div>
