<div id="page" style="width:1200px;margin:auto;">
    <header>
        <div class="hero">
            <nav id="left-nav"class="nav-links">
                <a href="#">Home</a>
                <a href="#">About</a>
            </nav>
            <div id="hero-image">
                <a class="hero-img" title="Coffee & Cupcakes" href="#"><img src="http://via.placeholder.com/400x300" alt="Coffee & Cupcakes Logo" /></a>
            </div>
            @*<nav class="user-activity">
                <a href="#">Account</a>
                <a href="#"><i class="fa fa-cart-arrow-down"></i> Cart</a>
            </nav>*@
            <nav id="right-nav" class="nav-links">
                <a href="#">Menu</a>
                <a href="#">Contact</a>
            </nav>
        </div>
    </header>

    <section class="main">
        <aside>
            <div class="store-info">
                <h3>Our Locations</h3>
                <p class="info-text">Misty Mountains (999).999.9999</p>
                <p class="info-text">Gondor (999).999.9999</p>
                <p class="info-text">Mirkwood (999).999.9999</p>
            </div>
        </aside>
        <aside>
            <div class="store-info">
                <img src="http://via.placeholder.com/100x100" alt="Coffee & Cupcakes Logo" style="float:left;padding:0px;margin:0px;"/>
                <h3>Hours</h3>
                <p class="info-text">Mon to Fri 5am-9pm</p>
                <p class="info-text">Weekends 8am-9pm</p>
            </div>
        </aside>
        <aside>
            <div class="store-info">
                
                <h3>Monthly Special</h3>
                <p class="info-text">Sweet Treat Latte</p>
                <p class="info-text">Price: $3.75</p>
            </div>
        </aside>
    </section>

    <footer></footer>
</div>
