<!DOCTYPE html>

<html>
<head>
     <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/lib/components-font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/coffeecake.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"> 
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
